---
---

<footer class="border-t border-white/10 py-8 mt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-gray-400">© {new Date().getFullYear()} Afnan Choudhury. All rights reserved.</p>
  </div>
</footer>